body {
  color: #dddddd;
  z-index: 1;
}

.timeline - text {
  color: #dddddd;
}

.candidate {
  color: #dddddd;
}

custom-experience-title {
  color: #dddddd;
}

a.custom-experience-title {
  color: #dddddd;
}

.experience-duration {
  color: #999999;
}

.experience-subtitle {
  color: #999999;
}

.profile-link {
  color: #999999;
}

.experience-skill {
  color: #999999;
}

.icon {
  color: #999999;
}

.candidate .title {
  color: #999999;
}

.experience-project-name {
  color: #999999;
}

.custom-experience-description {
  color: #999999;
}

.contact-info {
  color: #999999;
}

.section-heading {
  color: #ddd;
}

.skill-panel-heading {
  color: #ddd;
}

.experience-title {
  color: #3092ec;
}

.skill-type {
  color: #3092ec;
}

.candidate .name {
  color: #3092ec;
}

.profile-top-skill {
  color: #ffffff !important;
}

.candidate-top-skill {
  color: #ffffff !important;
}

.skill-selected {
  color: #ffffff !important;
}

.main-border {
  border-color: #ffffff;
}

.candidate {
  border-color: #ffffff;
}

.skill {
  border-color: #637172 !important;
}

.candidate .bottom {
  border-color: #637172 !important;
}

.right-panel {
  border-color: #2f3637;
}

.capsule-divider {
  border-color: #2f3637;
}

.dropdown-menu {
  border-color: #2f3637;
}

.dropdown-menu li.divider {
  border-color: #2f3637;
}

.profile-menu-container.show {
  border-color: #2f3637;
}

div.contact-info-container {
  border-color: #2f3637;
}

.skill-selected {
  border-color: #637172;
}

.timeline-bar.education {
  border-color: #3092ec;
}

.timeline-bar.work-experience {
  border-color: #f15b28;
}

.header {
  background-color: #2f3637 !important;
}

body {
  /* background-color: #202126; */
  background-color: #191d20;
}

/* button color #0D1D3A */
.capsule {
  /* background-color: #394243 !important; */
  background-image: linear-gradient(
    to right bottom,
    #0d1d3a 0,
    #1a2f55 52%,
    #365a83
  );
  background-attachment: fixed;
}

.dropdown-menu {
  background-color: #394243 !important;
}

.profile-menu-container.show {
  background-color: #394243 !important;
}

.candidate {
  background-color: #394243 !important;
}

.profile-top-skill {
  background-color: #2fdd92;
}

.candidate-top-skill {
  background-color: #2fdd92;
}

.skill-selected {
  background-color: #34be82;
}

@media (hover: hover) {
  .candidate:hover {
    color: #dddddd;
  }

  .timeline-text:hover {
    color: #999999;
  }

  .timeline-hover-skills {
    color: #999999;
  }

  a.experience-subtitle:hover {
    color: #bbbbbb !important;
  }

  a.custom-experience-title:hover {
    color: #bbbbbb !important;
  }

  .profile-link:hover {
    color: #bbbbbb !important;
  }

  .timeline-text:hover {
    color: #bbbbbb !important;
  }

  .timeline-hover-name {
    color: #3092ec;
  }

  .skill:hover {
    color: #ffffff !important;
  }

  .profile-top-skill:hover {
    color: #ffffff !important;
  }

  .experience-skill:hover {
    color: #ffffff !important;
  }

  span.experience-skill.skill-selected:hover {
    color: #ffffff !important;
  }

  .candidate:hover {
    border-color: #637172 !important;
  }

  .timeline-hover {
    background-color: #394243 !important;
  }

  .profile-menu-container:hover {
    background-color: #dbdbdb !important;
  }

  .dropdown-menu li.option:hover {
    background-color: #dbdbdb !important;
  }

  .skill:hover {
    background-color: #34be82;
  }

  .profile-top-skill:hover {
    background-color: #34be82;
  }

  .experience-skill:hover {
    background-color: #34be82;
  }

  span.experience-skill.skill-selected:hover {
    background-color: #34be82;
  }
}

/* Portfolio Button */
.portfolio-link {
  margin-top: 30px;
}
.portfolio-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #0d1d3a;
  /* color: #202126; */
  color: #ffffff;
  border-radius: 25px;
  outline: none;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #18e9ff;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 70%);
  transition: all 0.3s ease;
}

.portfolio-btn:hover {
  background-color: #ffffff;
  color: #202126;
}

.github-link {
  padding: 10px;
}
.github-link-btn {
  display: inline-block;
  padding: 5px 15px;
  background-color: #69f5ab;
  color: #2f3637;
  text-decoration: none;
}
/* Particle CSS */
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #202126;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}
